<footer class="margin-10">
    <!-- <div class="footer-border"></div> -->
    <section class="hidden">
        <a href="/product/xbox">Xbox</a>
        <a href="/product/playstation">Playstation</a>
        <a href="/product/nintendo">Nintendo</a>
        <a href="/product/retro">Consolas Retro</a>
        <a href="/product/accesories">Accesorios</a>
        <a href="#">Prensa</a>
        <a href="#">Contacto</a>
    </section>

    <section class="d-flex flex-column align-items-center">
        <span>B. Mitre 2049, Moreno, Buenos Aires</span>
        <span>(0237) 462-4045</span>
    </section>

    <section class="d-flex margin-y-10 justify-evenly">
        <a href="www.facebook.com/consolehub"><img src="#0" alt="FB" /></a>
        <a href="www.instagram.com/consolehub"><img src="#0" alt="IG" /></a>
        <a href="www.youtube.com/consolehub"><img src="#0" alt="YT" /></a>
        <a href="www.twitter.com/consolehub"><img src="#0" alt="TW" /></a>
    </section>
    <div class="text-center">
        <small class="italic inline"
            >Copyright - Lorem ipsum dolor sit amet consectetur.</small
        >
    </div>
</footer>
