<header>
    <section class="d-flex flex-wrap justify-content-center">
        <div class="d-flex flex-wrap justify-content-center">
            <img class="w-50" id="logo" src="/img/logo.png" />
        </div>

        <% if (user) { %>

        <div class="dropdown">
            <button class="dropbtn">Dropdown</button>
            <div class="dropdown-content">
                <li><a href="#">Mi perfil</a></li>
                <li><a href="#">Mi carrito de compras</a></li>
                <li>
                    <form action="/users/logout" method="post">
                        <button type="submit">Log out</button>
                    </form>
                </li>
            </div>
        </div>
        <% } else{ %>
        <div class="dropdown">
            <img class="rounded dropbtn" id="profile-pic" src="/img/guest-account.png" alt="Guest account" />
            <div class="dropdown-content">
                <li><a href="/users/login">Inicia sesión</a></li>
                <li><a href="/users/register">Registrate</a></li>
            </div>
        </div>
        <% } %>

    </section>

    <nav class="nav-bar" role="navigation">
        <a href="/">Home</a>
        <a href="/shop">Shop</a>
        <a href="/about-us">Nosotros</a>
    </nav>
    <!-- <div class="header-border"></div> -->
</header>