<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Console Hub</title>
    </head>
    <body>
        <header">
            <!-- LOGO -->
            <!-- <img id="logo" src=> -->

            <!-- Foto de perfil o guest account -->
            <!-- <img id="profile-pic" src=> -->

            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/categories"></a>Categorías</li>
                    <li><a href="/shop">Carrito de compras</a></li>
                    <li><a href="/about-us">Nosotros</a></li>
                </ul>
            </nav>

            <!--  Menu dropdown del perfil
        <nav>
            <ul>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Profile</a></li>
            </ul>
        </nav> -->
        </header>

        <main>
            <div>
                <label for="search-bar" class="hidden">Barra de búsqueda</label>
                <input
                    type="text"
                    id="search-bar"
                    placeholder="Buscar consolas, accesorios y más..."
                />
            </div>

            <div>
                <!-- <img id="banner-img-1" src="" alt=""> -->
                <!-- <img id="banner-img-2" src="" alt=""> -->
                <!-- <img id="banner-img-3" src="" alt=""> -->
                <!-- <img id="banner-img-4" src="" alt=""> -->
                <!-- <img id="banner-img-5" src="" alt=""> -->
            </div>

            <section>
                <h3>Categorías</h3>
                <div>
                    <!-- <img src="" alt=""> -->
                    <a href="/categories/xbox">Xbox</a>
                </div>

                <div>
                    <!-- <img src="" alt=""> -->
                    <a href="categories/playstation">Playstation</a>
                </div>

                <div>
                    <!-- <img src="" alt=""> -->
                    <a href="categories/nintendo">Nintendo</a>
                </div>

                <div>
                    <!-- <img src="" alt=""> -->
                    <a href="categories/retro">Retro</a>
                </div>

                <div>
                    <!-- <img src="" alt=""> -->
                    <a href="categories/accesories">Accesorios</a>
                </div>
            </section>
        </main>
        <footer>
            <section>
                <ul>
                    <li><a href="">Xbox</a></li>
                    <li><a href="">Playstation</a></li>
                    <li><a href="">Nintendo</a></li>
                    <li><a href="">Consolas Retro</a></li>
                    <li><a href="">Accesorios</a></li>
                    <li><a href="">Prensa</a></li>
                    <li><a href="">Contacto</a></li>
                </ul>
            </section>

            <div>
                <p>Direccion</p>
                <p>Telefono de contacto</p>
                <p>Copyright y términos legales</p>
            </div>

            <section>
                <a href=""><img src="" alt="Facebook" /></a>
                <a href=""><img src="" alt="Instagram" /></a>
                <a href=""><img src="" alt="Youtube" /></a>
                <a href=""><img src="" alt="Twitter" /></a>
            </section>
        </footer>
    </body>
</html>
