<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head-base.ejs", {title: "Console Hub"}) %>
</head>

<body class="body">
    <%- include("partials/header.ejs") %>

    <h1 style="color: white">Bienvenido <%= user ? user.username : "Invitado" %> </h1>



    <div id="text-intro" class="font-title-box  backdrop-filter">
        <div class="font-title">Lorem ipsum dolor.</div>
        <div class="middle-text">Lorem, ipsum dolor sit amet consectetur.</div>
        <div class="font-paragraph">Lorem, ipsum.</div>
    </div>

    <main class="container d-flex flex-wrap flex-column">
        <div class="image-banner">

            <div id="text-banner" class="hidden backdrop-filter ">
                <div class="font-title">Lorem ipsum dolor.</div>
                <div class="middle-text">Lorem, ipsum dolor sit amet consectetur.</div>
                <div class="font-paragraph">Lorem, ipsum.</div>
            </div>

            <div class="slide">
                <img src="/img/banner/banner-2.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/img/banner/banner-1.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/img/banner/banner-3.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/img/banner/banner-4.jpg" alt="">
            </div>

        </div>
        </div>

        <div class="search-bar-box">
            <label for="search-bar" class="hidden">Barra de búsqueda</label>
            <input type="text" id="search-bar" placeholder="Buscar consolas, accesorios y más..." />
        </div>

        <section id="categories" class="row justify-content-center align-items-center ">

            <article id="category" class="col-12 col-md-4 my-3 my-md-1 mx-auto ">
                <div class="title-container">
                    <span>PLAYSTATION</span>
                </div>
                <a href="/">
                    <img class="w-100" src="/img/ps-logo.jpg" alt="Logo Playstation" />
                </a>
            </article>

            <article id="category" class="col-12 col-md-4 my-3 my-md-1 mx-auto">
                <div class="title-container">
                    <span>XBOX</span>
                </div>
                <a href="/">
                    <img class="w-100" src="/img/xbox-logo.png" alt="Logo Xbox" />
                </a>
            </article>

            <article id="category" class="col-12 col-md-4 my-3 my-md-1 mx-auto ">
                <div class="title-container">
                    <span>NINTENDO</span>
                </div>
                <a href="/">
                    <img class="w-100" src="/img/nintendo-logo.jpg" alt="Nintendo" />
                </a>
            </article>


            <article id="category" class="col-12 col-md-4 my-md-1 ">
                <div class="title-container">
                    <span>RETRO</span>
                </div>
                <a href="/">
                    <img class="w-100" src="/img/retro.jpg" alt="Retro" />
                </a>
            </article>

            <article id="category" class="col-12 col-md-4 my-md-1 ">
                <div class="title-container">
                    <span>ACCESORIOS</span>
                </div>
                <a href="/categories/accesories">
                    <img class="w-100" src="/img/acc1.jpg" alt="Accesories" />
                </a>
            </article>

        </section>
    </main>
    <%- include("partials/footer.ejs") %>
</body>

</html>