<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Product</title>
    </head>
    <body>
        <header></header>
        <body>
            <section>
                <div>
                    <p>Titulo</p>
                </div>

                <div>
                    <p>Descripción</p>
                </div>

                <div>
                    <img src="#" alt="Imagen del producto" />
                </div>
            </section>

            <section>
                <p>Especificaciones</p>
            </section>

            <section>
                <div>
                    <img src="#" alt="Imagen 2" />
                </div>

                <div>
                    <option value="#">
                        <select name="type" id="type">
                            Tipo 1
                        </select>
                        <select name="type" id="type">
                            Tipo 2
                        </select>
                        <select name="type" id="type">
                            Tipo 3
                        </select>
                    </option>
                </div>
            </section>
        </body>
        <footer></footer>
    </body>
</html>
