<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Product</title>

        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
            integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
            crossorigin="anonymous"
        />
        <script
            defer
            src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"
        ></script>
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"
        ></script>
        <link
            href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="css/base.css" />
        <link rel="stylesheet" href="css/themes.css" />
        <link rel="stylesheet" href="css/forms.css" />
        <link rel="stylesheet" href="css/styles.css" />

        <link
            rel="stylesheet"
            href="css/media-sm.css"
            media="only screen and (min-width: 600px)"
        />
        <link
            rel="stylesheet"
            href="css/media-md.css"
            media="only screen and (min-width: 768px)"
        />
        <link
            rel="stylesheet"
            href="css/media-lg.css"
            media="only screen and (min-width: 992px)"
        />
        <link
            rel="stylesheet"
            href="css/media-xl.css"
            media="only screen and (min-width: 1200px)"
        />
    </head>
    <body class="body">
        <%- include("partials/header.ejs") %>

        <main class="container">
            <section
                id="product-intro"
                class="backdrop-filter d-flex align-items-center justify-evenly w-100 text-center"
            >
                <div id="font-title-box" class="w-100 my-2">
                    <strong class="font-title">Lorem, ipsum dolor.</strong>
                </div>

                <div id="description-box" class="w-100 my-2">
                    <p class="font-smaller">
                        Lorem ipsum, dolor sit amet consectetur adipisicing
                        elit. Ut aliquam ipsam nobis labore cum sapiente!
                    </p>
                </div>

                <div class="m-2">
                    <img
                        class="w-100"
                        src="/img/pile-of-consoles.jpg"
                        alt="Imagen del producto"
                    />
                </div>
            </section>

            <section
                id="product-specs"
                class="backdrop-filter d-flex-col w-100 align-items-center text-center my-3"
            >
                <div id="font-title-box" class="w-100 my-2">
                    <strong class="font-title">Especificaciones</strong>
                </div>
                <p class="h-50 m-2 font-smaller">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex
                    a delectus commodi adipisci assumenda culpa, doloremque
                    laborum natus quia maxime sunt veritatis odit eveniet sed.
                </p>
                <p class="h-50 m-2 font-smaller">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Dolorum, necessitatibus? Sapiente eius assumenda possimus
                    cum.
                </p>
            </section>

            <section
                id="product-checkout"
                class="backdrop-filter d-flex flex-wrap flex-column w-100 align-items-center"
            >
                <div class="w-50 m-2 m-md-0 p-md-3">
                    <img class="w-100" src="/img/ps3.jpg" alt="Imagen 2" />
                </div>
                <section class="d-flex w-50 h-100">
                    <div
                        class="d-flex justify-content-between padding-y-10 w-100"
                    >
                        <label for="modelo">Modelo:</label>

                        <select id="modelo">
                            <option value="modelo1">Slim</option>
                            <option value="modelo2">Pro</option>
                        </select>
                    </div>

                    <div
                        class="d-flex justify-content-between padding-y-10 w-100"
                    >
                        <label for="color">Color:</label>
                        <select id="color">
                            <option value="color1">Black</option>
                            <option value="color2">Red</option>
                        </select>
                    </div>

                    <div
                        class="d-flex justify-content-between padding-y-10 w-100"
                    >
                        <label for="cantidad">Cantidad:</label>
                        <select id="cantidad">
                            <option value="num1">1</option>
                            <option value="num2">2</option>
                            <option value="num3">3</option>
                        </select>
                    </div>
                </section>
                <div class="mx-auto my-3">
                    <button type="submit">Agregar al carrito</button>
                </div>
            </section>
        </main>
        <%- include("partials/footer.ejs") %>
    </body>
</html>
