<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Carrito de Compras</title>
    </head>
    <body>
        <h2>Mi carrito de compras</h2>

        <section>
            <p>Productos seleccionados</p>
            <p>Métodos de pago y envío</p>
            <p>Finalizar compra</p>
        </section>

        <section>
            <div>
                <!-- Detalles de los items del carrito de compra -->
            </div>

            <div>
                <!-- Productos seleccionados: Precio total -->
                <!-- Metodos de pago:  
                    -Efectivo
                    -Tarjeta
                    -Metodo de envío -->
                <!-- Finalizar compra: Detalles finales y botón para comprar -->
            </div>
        </section>
    </body>
</html>
