/* HOME */

.nav-bar a {
    letter-spacing: 2px;
    transition: 0.8s ease;
    font-size: larger;
}

nav a:hover {
    background: #309fc1d9;
    color: black;
    border-top: 1px solid #2732cc;
    border-right: 1px solid#93a2f55e;
    border-bottom: 1px solid #93a2f55e;
    border-left: 1px solid #2732cc;
}
nav a:nth-child(1):hover {
    border-radius: 40px 40px;
    letter-spacing: 10px;
}
nav a:nth-child(2):hover {
    border-radius: 40px 40px;
    letter-spacing: 10px;
}
nav a:nth-child(3):hover {
    border-radius: 40px 40px;
    letter-spacing: 10px;
}

/* ARTICLE */

#category:hover span {
    display: inline;
}

.text-banner div {
    font-size: xx-large;
}
