/* HOME */

.nav-bar a {
    letter-spacing: 2px;
    transition: 0.8s ease;
    font-size: larger;
}

nav a:hover {
    background: #309fc1d9;
    color: black;
    border-top: 1px solid #2732cc;
    border-right: 1px solid#93a2f55e;
    border-bottom: 1px solid #93a2f55e;
    border-left: 1px solid #2732cc;
}
nav a:nth-child(1):hover {
    border-radius: 40px 40px;
    letter-spacing: 10px;
}
nav a:nth-child(2):hover {
    border-radius: 40px 40px;
    letter-spacing: 10px;
}
nav a:nth-child(3):hover {
    border-radius: 40px 40px;
    letter-spacing: 10px;
}
#text-intro {
    display: none;
}
#text-banner {
    display: initial;
}

/* ARTICLE */
#category span {
    font-size: 20px;
}
.title-container {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
#category:hover img {
    opacity: 0.5;
}
#category:hover .title-container {
    opacity: 1;
}

#text-banner div {
    font-size: xx-large;
}

#product-checkout {
    flex-direction: row !important;
    margin: 0;
}
