/* Home page */

#category span {
    font-size: 30px;
}
.title-container {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
#category:hover img {
    opacity: 0.5;
}
#category:hover .title-container {
    opacity: 1;
}
