* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* border: 1px dotted white; */
}
body {
    font-family: "Playfair Display", serif;
}

header,
footer {
    font-family: "VCR OSD Mono", Courier, monospace;
}
/* header{
    background-image: url("/img/background-clear.jpg") ;
} */
.body {
    background-image: url("/img/x-2.jpg");
    background-position: center;
    background-color: black;
    background-size: cover;
}

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    padding: 20px;
    width: 100%;
}

.nav-bar a {
    color: #309fc1;
    background: #000000d9;
    border-top: 1px solid #93a2f55e;
    border-right: 1px solid #2732cc;
    border-bottom: 1px solid #2732cc;
    border-left: 1px solid #93a2f55e;
    border-radius: 15px;
    font-size: small;
    font-weight: 600;
    padding: 10px;
    width: 25%;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
}

#profile-pic {
    width: 10%;
    position: absolute;
    right: 15px;
    top: 15px;
    max-width: 32px;
    max-height: 32px;
}
/* #profile-icon {
    width: 40px;
    height: 40px;
    background-color: #0044aa;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0px;
    text-align: center;
} */

/* Banner */
#text-intro {
    margin-bottom: 2rem;
}
#text-banner {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 80vw;
    padding-left: 20px;
    top: 60%;
    left: 50%;

    color: #c34588;
    border-top-style: ridge;
}
.image-banner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    max-height: 123vh;
    width: 90vw;
    margin: auto;
    background-color: #ff0000;

    overflow: auto;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
}
.image-banner .slide {
    scroll-snap-align: center;
}
.image-banner img {
    width: 100%;
    height: 100%;
}

.search-bar-box {
    margin-top: 10px;
    padding: 10px;

    align-self: center;
    text-align: center;
}
#categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

#category {
    /* display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    /* padding: 30px; 
    margin: 20px; */
    margin-top: 3rem;
    position: relative;
    max-width: 60vw;
}
#category img {
    border: 2.5mm ridge rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    opacity: 1;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

#category span {
    width: 100%;
    color: #aadedc;
    display: inline-block;
    letter-spacing: 3px;
    font-size: 7vw;
    font-weight: 600;
    text-align: center;
}

#title-box {
    width: 100%;
    height: 30%;
}

#description-box {
    width: 100%;
    height: 50%;
}

table {
    table-layout: fixed;
    width: 100%;
    /* border-collapse: collapse; */
    border: 3px solid rgb(201 215 221);
}

thead th:nth-child(1) {
    width: 20%;
}

thead th:nth-child(2) {
    width: 10%;
}

thead th:nth-child(3) {
    width: 15%;
}

thead th:nth-child(4) {
    width: 15%;
}

th,
td {
    padding: 10px;
    margin: 5px 0;
    font-size: 15px;
    font-weight: 500;
    color: #aadedc;
}
td {
    font-style: italic;
}

tbody td {
    text-align: center;
}

tfoot th {
    text-align: right;
}

.footer-border {
    border-top: 8px double #fecb47;
    filter: drop-shadow(2px 4px 6px black);
    background-color: #e9ff0b52;
    mix-blend-mode: color;
    margin: 2vh 10vw;
}
.header-border {
    border-bottom: 8px double #254a73;
    filter: drop-shadow(2px 4px 6px black);
    background-color: #0f3fdd;
    mix-blend-mode: color;
    margin: 0 10vw;
}
#contact strong,
#shipping strong {
    font-size: 3.5vw;
}

#mail-and-pass input,
#shipping input,
#contact input,
select {
    width: 70% !important;
}
