.color-palletes {
    --mint-green: #b9ffb7ff;
    --magic-mint: #abedc6ff;
    --turquoise-green: #98d9c2ff;
    --deep-saffron: #f19a3eff;
    --black-coffee: #403233ff;

    color: #0d0221;
    color: #0f084b;
    color: #26408b;
    color: #a6cfd5;
    color: #c2e7d9;
    color: #db2b39;
}

.color-primary {
    color: #aadedc;
}
.italic {
    font-style: italic;
}
.font-smaller {
    font-size: 15px;
}
.font-14 {
    font-size: 14px;
}
.font-6-vw {
    font-size: 6vw;
}
.font-12 {
    font-size: 12px;
}
.font-4-vw {
    font-size: 4vw;
}

p,
strong,
label,
#product-checkout {
    color: #aadedc;
}
.font-title-box {
    text-align: center;
    filter: drop-shadow(2px 4px 6px black);
}
.font-title {
    color: #aadedc;
    margin: 5px 0;
    font-size: 26px;
    font-weight: 600;
}
.font-paragraph {
    color: #aadedc;
    margin: 5px 0;
    font-size: larger;
    font-weight: 500;
}

.middle-text {
    color: #aadedc;
    margin: 10px 0;
    font-size: medium;
    font-weight: 400;
    text-decoration: underline;
}
