<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head-base.ejs", {title: "Accesorios"}) %>
</head>

<body>
    <%- include("../partials/header.ejs") %>
    <%- include("../partials/footer.ejs") %>
</body>

</html>