<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head-base.ejs", {title: "Playstation"}) %>
</head>

<body>

    <%- include("../partials/header.ejs") %>

    <main>
        <h3>Playstation</h3>
        <img src="" alt="Imagen de una playstation" />

        <div>
            <a href=""><img src="" alt="Playstation 1" /></a>
            <p>Playstation 1</p>
            <a href=""><img src="" alt="Playstation 2" /></a>
            <p>Playstation 2</p>
            <a href=""><img src="" alt="Playstation 3" /></a>
            <p>Playstation 3</p>
            <a href=""><img src="" alt="Playstation 4" /></a>
            <p>Playstation 4</p>
        </div>
    </main>

    <%- include("../partials/footer.ejs") %>

</body>

</html>