<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head-base.ejs", {title: "XBOX"}) %>
</head>

<body>

    <%- include("../partials/header.ejs") %>

    <main>
        <h3>XBOX</h3>
        <img src="" alt="Imagen de una Xbox" />

        <div>
            <a href=""><img src="" alt="XBOX" /></a>
            <p>XBOX</p>
            <a href=""><img src="" alt="XBOX 360" /></a>
            <p>XBOX 360</p>
            <a href=""><img src="" alt="XBOX ONE" /></a>
            <p>XBOX ONE</p>
        </div>
    </main>

    <%- include("../partials/footer.ejs") %>

</body>

</html>