<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Xbox</title>
    </head>
    <body>
        <header></header>

        <main>
            <h3>Xbox</h3>
            <img src="" alt="Imagen de una Xbox" />

            <div>
                <a href=""><img src="" alt="Xbox" /></a>
                <p>Xbox</p>
                <a href=""><img src="" alt="Xbox 360" /></a>
                <p>Xbox 360</p>
                <a href=""><img src="" alt="Xbox One" /></a>
                <p>Xbox One</p>
            </div>
        </main>

        <footer></footer>
    </body>
</html>
